{% extends 'chatapp/base.html' %}

{% block title %}Details | {% endblock %}
{% block content %}
    <div class="bold-title">
        extract dictionary values from non subscriptable object-type in python
    </div>
    <div class="container2">

        <p class="desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia animi repudiandae totam ipsam adipisci
            pariatur temporibus culpa sapiente quae. At quisquam nam illo, veritatis quibusdam doloremque distinctio
            est sit nesciunt?
        </p>

        <div class="imgbox">
            <img src="./sample.png" alt="img">
        </div>

        <p class="desc2">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum dolore voluptates incidunt, nostrum
            repudiandae perspiciatis, dolorem hic magni quaerat illum soluta alias ipsum optio nemo cupiditate non
            odit aut porro!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae ipsum at repellendus quibusdam
            deserunt sunt mollitia, iusto dolores, ullam earum accusamus eligendi! Placeat, cumque error facere
            tenetur harum, voluptatibus sapiente dignissimos, dolorum quasi quidem sunt! Deserunt ut ratione,
            repudiandae rem itaque amet iusto alias totam. Quae facilis optio accusantium omnis!
        </p>
    </div> 
{% endblock %}