{% block content %}
<section class="query-results">
    {% for answer in answer %}
    <div class="query-item">
        <div class="query-wrapper container">
            <div class="query-title">
                <a href=""><p style = "font-size: 1.6rem;">{{answer.question}}</p></a>
                
            </div>
            <div class="query-desc">
                {{answer.question.content}}
            </div>
            <div class="query-details">
                <div class="username">
                  <p style="float:right;">posted by <b style="color: #0074cc;">{{answer.question.author}}</b> asked <span> {{answer.question.date_asked}} </span></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}